<header class="masthead">
	<nav class="language-nav">
		<ul>
			<li><a href="#">css</a></li>
			<li><a href="#">html</a></li>
			<li><a href="#">javascript</a></li>
			<li><a href="#">ruby</a></li>
		</ul>
	</nav>

	<h1 class="logo">
		<img src="assets/AA_Times_Logo.png" alt="aA Times Logo">
	</h1>

	<nav>
		<ul class="masthead-links">
			<li><time><%= Date.today.strftime("%a, %B %d, %Y") %></time></li>
			<li>
				<i class="far fa-newspaper"></i>
				<a href="#">Today's Paper</a>
			</li>
			<li>
				<i class="fas fa-video"></i>
				<a href="#">Video</a>
			</li>
			<li><button>
				<span>77&#8457</span>
			</button></li>
			<li><button>
				<i></i>
				<span>AAO <strong>+100%</strong></span>
			</button></li>
		</ul>
	</nav>
</header>
